{% extends "events/base_events.html" %}
{% load crispy_forms_tags %}
{% block title %}Registro de Aistente{% endblock title %}

{% block content %}

    {% include "events/panel/navbar.html" %}

    <div class="container">
<!-- page-header -->

        <div class="row">
            
            <div class="col-md-12">

                <form role="form" method="POST" enctype="multipart/form-data">{% csrf_token %}
                    <p class="lead"><span class="glyphicon glyphicon-info-sign"></span> Ingresa sus Datos Personales</p>
                    {{form|crispy}}
                    

                    
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Registrarse</button>
                    </div>
                </form>

            </div><!-- col-md-12 -->

        </div><!-- /row -->

    </div><!-- /container -->

{% endblock content %}