{% extends "events/base_events.html" %}

{% block title %}Panel Registro{% endblock title %}

{% block content %}

    {% include "events/registro/navbar.html" %}

    <div class="container">

        <div class="page-header">
            <h4>
                <strong> Lista de Personas Registradas </strong>
            </h4>
        </div><!-- page-header -->

        <div class="row">
            
            <div class="col-md-12">
                
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th colspan="2">Nombres</th>
                            <th>Apellidos</th>
                            <th>Email</th>
                            <th>Celular</th>
                            <th>Organizacion</th>
                            <th>Provincia</th>
                            <th>Distrito</th>
                            <th>Edad</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for asistente in asistentes %}
                        <tr>
                            <td>
                            <td>{{ asistente.nombre }}</td>
                            <td>{{ asistente.apellidos }}</td>
                            <td>{{ asistente.email }}</td>
                            <td>{{ asistente.celular }}</td>
                            <td>{{ asistente.organizacion }}</td>
                            <td>{{ asistente.provincia }}</td>
                            <td>{{ asistente.distrito }}</td>
                            <td>{{ asistente.edad }}</td>

                            </td>
                            <td class="text-right">
                                <a href="" class="btn btn-success"><span class="glyphicon glyphicon-eye-open"></span></a>
                                <a href="" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span></a>
                                <a href="" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div><!-- col-md-12 -->

        </div><!-- /row -->

    </div><!-- /container -->

{% endblock content %}